<h1>Рекламные адреса</h1>
<%= link_to 'Сортировать', :sort => 'true' %>
<table>
  <tr>
    <th>Адрес</th>
    <th>Кол-во сканирований</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @points.each do |point| %>
  <tr>
    <td><%= point.address %></td>
    <td><%= point.visit_number %></td>
    <td><%= link_to 'QR код', point.qr_url, :target => "_blank"%></td> 
    <td><%= link_to 'Редактировать', edit_point_path(point) %></td>
    <td><%= link_to '[x]', point, :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить адрес', new_point_path %>
